<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="albums.css">
    <title>Albums</title>
</head>
<body>
<div class="container">
    <form action="/albums" method="post">

        <label for="fname">Title</label>
        <input type="text" id="fname" name="title" placeholder="The title..">
        <br> <br>
        <label for="lname">Artist</label>
        <input type="text" id="lname" name="artist" placeholder="Artist..">
        <br><br>
        <label for="country">SongCount</label>
        <input id="country" name="songCount">
        <br><br>
        <label for="subject">length</label>
        <input type="number" name="length">
        <br><br>
        <textarea id="subject" name="imageUrl" placeholder="Put image" style="height:200px"></textarea>
        <br><br>
        <input type="submit" value="Submit">

    </form>
</div>

<div th:each="album: ${Albums}">
    <img th:src ="${album.imageUrl}" width="50%" alt="img">
        <h1  th:text="'Artist'+' '+ ${album.artist}"></h1>
        <h2 th:text="'Title'+ ' '+ ${album.title}"></h2>
        <h2 th:text="'SongCount' +' '+ ${album.songCount}"></h2>
        <h2 th:text="'Length' +' '+ ${album.length}"></h2>
</div>
</body>
</html>