<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form action="/form" method="post">

        <label for="fname">Title</label>
        <input type="text" id="fname" name="title" placeholder="The title..">
        <br> <br>
        <label for="lname">Artist</label>
        <input type="text" id="lname" name="artist" placeholder="Artist..">
        <br><br>
        <label for="country">SongCount</label>
        <input id="country" name="songCount">
        <br><br>
        <label for="subject">length</label>
        <input type="number" name="length">
        <br><br>
        <textarea id="subject" name="imageUrl" placeholder="Put image" style="height:200px"></textarea>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>